In [45]:
from nsetools import Nse
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import datetime as dt
from datetime import datetime
import pickle5 as pickle
import threading
import os
import json

In [46]:
df=pd.read_csv('26-11-2020.csv')

In [61]:
cols = df.columns
timestamps = []
remove = []
for col in cols[1:]:
    if(col.split('@')[0] not in ['CE_CHOI_','PE_CHOI_','NIFTY']):
        remove.append(col)
        if(col.split('@')[1] not in timestamps):
            timestamps.append(col.split('@')[1])

In [62]:
subdf= df.drop(remove,axis=1)

In [63]:
subdf

,strike_price,CE_CHOI_@08:59:01,PE_CHOI_@08:59:01,NIFTY@08:59:01,CE_CHOI_@09:15:49,PE_CHOI_@09:15:49,NIFTY@09:15:49,CE_CHOI_@09:18:19,PE_CHOI_@09:18:19,NIFTY@09:18:19,...,NIFTY@10:39:51,CE_CHOI_@11:03:52,PE_CHOI_@11:03:52,NIFTY@11:03:52,CE_CHOI_@11:38:53,PE_CHOI_@11:38:53,NIFTY@11:38:53,CE_CHOI_@11:54:23,PE_CHOI_@11:54:23,NIFTY@11:54:23
0,11000,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-4650.0,-2925.0,12845.15,-8025.0,-11700.0,12832.1,-8625.0,-16725.0,12819.55
1,11050,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,NaN,-75.0,12845.15,NaN,-75.0,12832.1,NaN,-75.0,12819.55
2,11100,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-3225.0,-8100.0,12845.15,-3375.0,-8250.0,12832.1,-3375.0,-8250.0,12819.55
3,11150,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,NaN,75.0,12845.15,NaN,-75.0,12832.1,NaN,-75.0,12819.55
4,11200,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-300.0,4500.0,12845.15,-300.0,6000.0,12832.1,-225.0,6675.0,12819.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,13800,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-58875.0,NaN,12845.15,-66825.0,NaN,12832.1,-81000.0,NaN,12819.55
57,13850,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-225.0,NaN,12845.15,-1500.0,NaN,12832.1,-1500.0,NaN,12819.55
58,13900,NaN,NaN,12858.4,NaN,NaN,12894.5,-11400.0,NaN,12909.75,...,12844.05,-99750.0,NaN,12845.15,-99675.0,NaN,12832.1,-99300.0,NaN,12819.55
59,13950,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-7800.0,NaN,12845.15,-7800.0,NaN,12832.1,-5025.0,NaN,12819.55
60,14000,NaN,NaN,12858.4,NaN,NaN,12894.5,NaN,NaN,12909.75,...,12844.05,-100425.0,-3075.0,12845.15,-128175.0,-3150.0,12832.1,-128475.0,-3300.0,12819.55

In [56]:
nitin = pd.DataFrame(columns = ['time','CE_CHOI','PE_CHOI','PE_CE_DIFF','RETAIL SIGNAL'])

In [60]:
for time in timestamps:

NameError: name 'timestamp' is not defined